/*=============global=============*/
body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.orange-highlighter{
    color: #FF8367;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

section{
    padding-top: 50px;
    height:800PX;
}
a{
    text-decoration: none;
}
p{
    text-align: justify;
    margin-left:0 ;
    padding-left:0 ;
}
h1{
font-family: Bebas Neue;
font-style: normal;
font-size: 80px;
line-height: 80px;
margin-bottom: 36px;
}
h2{
    font-size: 48px;
    font-family: Bebas Neue;  
}
/*=============Navbar=============*/
nav ul li {
    list-style: none;
    float: right;
    margin-left: 45px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
/*=============Intro+About=============*/
#pic-1{
    padding-left: 100px;

}
#pic-2{
    padding-left: 60px;

}
#about-right{
    padding-left: 200px;
    padding-top: 35px;
}
.half-width{
    width: 40%;
    float: left;
}
.half-width img {
    width: 100%;
}
.button{
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    background: linear-gradient( 45deg, #FF8367, orange) ;
}
/*=============Latest Working Project=============*/
#working-area{
    background: rgb(211, 219, 219);
    padding: 50px;
    height: 630px;
    text-align: center;
}

.grid-card{
    width: 28%;
    height: 320px;
    display: inline-block;
    margin:0 1.5%;
    padding: 6px;
    margin-top: 50px ;
    background: white;
    box-shadow: 0px 7px 20px rgba(112, 111, 111, 0.527);
    border-radius: 20px;
}
.grid-card img {
    width: 100%;
}
.grid-card h3,p{
    text-align: left;
    padding: 0 13px;
}
/*=============Work Inquiry=============*/
#inquiry-area{
background: url(img/inquiry-bg.png);
background-repeat: no-repeat;
background-size: 900px ;
}
.inquiry-area h2{
    display: inline-block;
}
/*=============Footer=============*/